<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Deposits</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[0] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[1] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[2] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[3] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[4] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[5] }}</th>
                                        <th style="font-weight:bold">{{ dataTable.headerRow[6] }}</th>
                                        <th style="font-weight:bold" class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th>
                                    </tr>
                                </thead>
                                <tbody style="height:18px">
                                    <tr *ngFor="let item of assetArray | async">
                                        <td>{{ item.AssetRef }}</td>
                                        <td>{{ item.mem[0].FirstName }}</td>
                                        <td>{{ item.CreateDate | date: 'yy.MM.dd hh:mm:ss' }}</td>
                                        <td>{{ item.AssetType }}</td>
                                        <td></td>
                                        <td>{{ item.Status }}</td>
                                        <td>{{ item.Amount }}</td>
                                        <td class="text-right" style="font-size:5px">
                                            <a href="#" class="btn btn-link btn-primary btn-just-icon like" title="Approve #{{ item.AssetRef }}" data-toggle="modal"
                                                data-target="#noticeModalApprove">
                                                <i class="material-icons" (click)="assetApprove = item">description</i>
                                            </a>
                                            <!-- <button type="link" matTooltip="Approve #{{ item.AssetRef }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                                data-target="#noticeModalApprove">
                                                <i class="material-icons" (click)="assetApprove = item">clear</i>
                                            </button> -->
                                        </td>
                                        <!-- <td class="td-actions" style="width:4px">
                                            <ng-container *ngIf="item[2]=='Sell Limit' || item[2] == 'Buy Limit'; then limit"></ng-container>
                                            <ng-container *ngIf="item[2]=='Sell' || item[2] == 'Buy'; then buysell"></ng-container>
            
                                            <ng-template #buysell>
                                                <button type="button" matTooltip="Close #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                                data-target="#noticeModalClose">
                                                <i class="material-icons" (click)="closeOrder = item">clear</i>
                                            </button>
                                            </ng-template>
                                            <ng-template #limit>
                                                <button type="button" matTooltip="Delete #{{ item[0] }}" [matTooltipPosition]="'above'" class="btn btn-simple" data-toggle="modal"
                                                data-target="#noticeModalDelete">
                                                <i class="material-icons" (click)="closeOrder = item">clear</i>
                                            </button>
                                            </ng-template>
                                        </td> -->

                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal fade" id="noticeModalApprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-notice">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="material-icons">clear</i>
                                            </button>
                                            <h3 class="modal-title" id="myModalLabel">Approve Deposit?</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="instruction" style="font-size:20px">
                                                <p>
                                                    Approve #{{ assetApprove.AssetRef }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)="onApprove(assetApprove)">Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <button type="button" (click)='addAsset()'>Add</button> -->
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>