<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Deposit Withdrawal List</h4>
          </div>

          <div class="card-body">
            <div class="col-md-10"></div>
            <div class="toolbar col-md-3 float-md-right">
              <input type="text" #search (keyup)="onSearch(search.value)" class="form-control" placeholder="Search">
            </div>
            <div *ngIf="isLoading" class="text-center">
              <img src="../../../assets/img/loading.gif">
            </div>
            <div *ngIf="this.errorMsg != ''" class="category form-category text-center text-rose">
              
            </div>
            <div *ngIf="!isLoading" class="material-datatables">
              <table id="datatables" class="table table-hover">
                <thead class="text-primary">
                  <tr>
                    <th style="font-weight:bold">{{ dataTable.headerRow[0] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[1] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[2] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[3] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[4] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[5] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[6] }}</th>
                    <th style="font-weight:bold">{{ dataTable.headerRow[7] }}</th>
                  </tr>
                </thead>
                <tbody style="height:18px">
                  <tr *ngFor="let item of assetList">
                    <td>{{ item.AssetRef }}</td>
                    <td>{{ item.MemberLookup[0]?.FirstName }}</td>
                    <td>{{ item.CreateDate | date: 'yy.MM.dd hh:mm:ss' }}</td>
                    <td>
                      <ng-container *ngIf="item.AssetType=='Deposit' then depo else with"></ng-container>
                      <ng-template #depo>
                        <span class='text-info'>
                          <strong>{{ item.AssetType }}</strong>
                        </span>
                      </ng-template>
                      <ng-template #with>
                        <span class='text-danger'>
                          <strong>{{ item.AssetType }}</strong>
                        </span>
                      </ng-template>
                    </td>
                    <td>{{ item.AmountRequest | number : '1.0-2' }}</td>
                    <td>{{ item.Amount | number : '1.0-2' }}</td>
                    <td>
                      <ng-container *ngIf="item.Status==null && item.AssetType=='Deposit' then waitdeposit"></ng-container>
                      <ng-container *ngIf="item.Status==null && item.AssetType=='Withdraw' then waitwithdraw"></ng-container>
                      <ng-container *ngIf="item.Status=='Approve1' || item.Status=='Approve2' then approved"></ng-container>
                      <ng-container *ngIf="item.Status=='DisApprove' && item.AssetType=='Deposit' then disdeposit"></ng-container>
                      <ng-container *ngIf="item.Status=='DisApprove' && item.AssetType=='Withdraw' then diswithdraw"></ng-container>
                      <ng-template #waitdeposit>
                        <span>
                          <a href="#" title="Approve #{{ item.AssetRef }}" data-toggle="modal" (click)="assetApprove=item;Amount.value=''" class='text-warning'
                            data-target="#noticeModalApproveDeposit">
                            <strong>Wait</strong>
                          </a>
                        </span>
                      </ng-template>
                      <ng-template #waitwithdraw>
                        <span>
                          <a href="#" title="Approve #{{ item.AssetRef }}" data-toggle="modal" (click)="assetApprove=item;Amount.value=''" class='text-warning'
                            data-target="#noticeModalApproveWithdraw">
                            <strong>Wait</strong>
                          </a>
                        </span>
                      </ng-template>
                      <ng-template #disdeposit>
                        <span>
                          <a href="#" title="Approve #{{ item.AssetRef }}" data-toggle="modal" (click)="assetApprove=item;Amount.value=''" class='text-danger'
                            data-target="#noticeModalApproveDeposit">
                            <strong>DisApproved</strong>
                          </a>
                        </span>
                      </ng-template>
                      <ng-template #diswithdraw>
                        <span>
                          <a href="#" title="Approve #{{ item.AssetRef }}" data-toggle="modal" (click)="assetApprove=item;Amount.value=''" class='text-danger'
                            data-target="#noticeModalApproveWithdraw">
                            <strong>DisApproved</strong>
                          </a>
                        </span>
                      </ng-template>
                      <ng-template #approved>
                        <span class='text-success'>
                          <strong>Approved</strong>
                        </span>
                      </ng-template>
                    </td>
                    <!-- <td class="text-right" style="font-size:5px">
                      <a href="#" class="btn btn-link btn-primary btn-just-icon like" title="Approve #{{ item.AssetRef }}" data-toggle="modal">
                        <i class="material-icons" (click)="onApprove(item)">description</i>
                      </a>
                    </td> -->
                  </tr>
                </tbody>
                <tfoot>
                  <tr style='background-color:silver;font-size:18px'>
                    <th colspan='8'>Deposit : {{ this.totalDep | number : '1.0-2'}} | Withdrawal : {{ this.totalWith | number : '1.0-2'}}
                      | Total : {{ (this.totalDep - this.totalWith) | number : '1.0-2'}}</th>
                  </tr>
                </tfoot>
              </table>
              <div class="modal fade" id="noticeModalApproveDeposit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notice">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                      </button>
                      <h3 class="modal-title" id="myModalLabel">Do you want to approve?</h3>
                    </div>
                    <!-- <form class="form-horizontal" #appForm="ngForm"> -->
                    <div class="modal-body">
                      <div class="instruction text-center" style="font-size:18px">
                        <p *ngIf="assetApprove != null">
                          Ref #{{ assetApprove.AssetRef }} Amount Request {{ assetApprove.AmountRequest | number : '1.0-2' }}
                        </p>
                        <input class="form-control validate" style="text-align:center;font-size:30px" type="text" placeholder="Amount" name="Amount"
                          #Amount required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.ctrlKey == true"
                          (keyup)="assetApprove.Note=setFormatCurrency($event)">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="text-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onApprove(assetApprove)" [disabled]="Amount.value == ''">Approve</button>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                </div>
              </div>
              <div class="modal fade" id="noticeModalApproveWithdraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notice">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                      </button>
                      <h3 class="modal-title" id="myModalLabel">Do you want to approve?</h3>
                    </div>
                    <!-- <form class="form-horizontal" #appForm="ngForm"> -->
                    <div class="modal-body">
                      <div class="instruction text-center" style="font-size:18px">
                        <p *ngIf="assetApprove != null">
                          Ref #{{ assetApprove.AssetRef }} Amount Request {{ assetApprove.AmountRequest | number : '1.0-2' }}
                        </p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="text-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onApprove(assetApprove)">Approve</button>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>